<p class="p-2">Ask you coach anything:</p>
<form action="/answer" data-turbo="false" class="row row-cols-lg-auto align-items-center p-2">
  <div class="col-12">
    <input type="text" name="question" class="form-control">
  </div>
  <div class="col-12">
    <input type="submit" value="Ask" class="btn btn-primary">
  <div>
</form>